body {
	background-color: #d9d9d9;
	font-size: 87.5%;
	font-family: Verdana, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both; /* There's not gonna be any floating elements on the right or left */
}

.mainHeader h1{
	padding: 20px;
	margin: 2% 0;

	font-size: 300%;

	background-color: #b3b3b3;

	border-radius: 5px;
	/*
	The lines below ensure that the border are visible
	on browser based on webkits.
	*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/*
It doesn't happen anything when I assign the value 25px
to line-height. Why?
*/
.mainContent {
	line-height: 25px;
	background-color: #b3b3b3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin: 2%;
}

.content {
	line-height: 25px;
	background-color: #808080;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1% 1%;
	margin: 2%;
}

.mainFooter {
	width: 100%;
	float: left;
	background-color: #b3b3b3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainFooter p {
	color: #ffffff;
	width: 92%;
	margin: 10px auto;
}