.flex-container {
	display: flex;
	flex-direction: column;

	width: 80%;

	margin: 40px auto;

	background-color: #6C6B74;	

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainHeader {
	width: 96%;

	margin: 20px auto;

	background-color: #54678F;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainHeader > img {
	width: 20%;
	height: auto;

	padding: 10px;

	float: left;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#user-info {
	float: left;
}

#user-info > p > a{
	color: #000000;
}

#mainContent {
	width: 96%;

	margin: 0px auto 20px;	

	line-height: 25px;
	
	background-color: #54678F;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.card-header {
	margin: 20px 10px 10px;
}

.content {
	background-color: #9199BE;

	padding: 1% 1%;
	margin: 0 10px 10px;

	line-height: 25px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainFooter {
	width: 96%;

	margin: 0px auto 10px;

	background-color: #54678F;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainFooter > p {
	margin: 10px auto;
	padding-left: 10px;
}