.flex-container {
	display: flex;
	flex-direction: column;

	width: 80%;

	margin: 40px auto;

	background-color: #525B56;	

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainHeader {
	padding: 20px;
	margin: 20px 10px;

	font-size: 300%;

	background-color: #808080;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainContent {
	width: 92%;

	margin: 0px auto 20px;	

	line-height: 25px;
	
	background-color: #BE9063;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.card-header {
	margin: 10px 10px 10px;
}

.content {
	background-color: #808080;

	padding: 1% 1%;
	margin: 0 10px 10px;

	line-height: 25px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainFooter {
	margin: 0px 10px 10px;

	background-color: #808080;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mainFooter p {
	margin: 10px auto;
	padding-left: 10px;
}